*{
    padding: 0; margin: 0; box-sizing: border-box; outline: none;}
    li{list-style: none;}
    img,iframe{border: 0;}
    header,article,section,footer,main,nav,aside{display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    /* font-size: 62.5%; */
}

body {
    background-color: #cccccc;
    padding: 30px;
}

.content-list {
    display: flex;
    flex-direction: column;
}

.content-item {
    display: flex;
    margin: 20px;
    /* margin: 10px 10px 10px -30px; */
    
    /* これで子要素 absoluteするのNG. flexbox崩壊*/
    /* position: relative; */ 
}


/* 奇数番のみ画像を右側に */
.content-item:nth-child(2n-1) > .text-content {
    order: 2;
    /* 重ねあわせのため */
    margin: 20px 0px 20px -50px; /* OK, */
}

.content-item:nth-child(2n) > .text-content {
    /* 重ねあわせのため */
    margin: 20px -50px 20px 0;
    z-index: 1; /* textのブロックを最も前面にするため */
}

.content-item:nth-child(2n-1) > .image-content {
    order: 1;
}


.text-content {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
}

.text-header {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.text-description {
    padding: 20px;
}


.image-content {
    width: 100%;
    background-color: #111111;
    padding: 20px;
}
