*{
    padding: 0; margin: 0; box-sizing: border-box; outline: none;}
    li{list-style: none;}
    img,iframe{border: 0;}
    header,article,section,footer,main,nav,aside{display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    /* font-size: 62.5%; */
    font-size: 16px;
}

/* デフォルトに設定する慣習などある?? */
a {
    text-decoration: none;
    color: #000000;
}

/* セットで設定 */
a:hover {
    text-decoration: underline;
}


blockquote {
    position: relative;
    background-color: #eeeeee;
    padding: 10px 20px;
}

blockquote::before {
    position: absolute;
    content: "";
    font-size: 100px;
    top: 0;
    left: 0;
    color: #cccccc;
}
blockquote.backquote {
    padding: 100px 20px 50px 20px;
}

blockquote.backquote::before {
    content: "“";
}

.reference-article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eeeeee;
    padding: 20px 20px;
    margin: 20px 0;
    border: 1px solid #b0b0b0;

}

.reference-article:hover {
    background-color: #e0e0e0;
}    
.reference-article-link {
    display: flex;
}

.reference-article-content {
    order: 2;
    margin: 0 10px;
}

.reference-article-content > h4 {
    font-size: 0.8rem;
    text-decoration: underline;
    position: relative;
    margin: 0;
}

.reference-article-content > p{
    text-decoration: none;
}


.reference-article-content > h4::before {
    content: none;
}

.reference-article-content > h4::after {
    content: none;
}

.reference-article-image {
    order: 1;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    /* 文字間 */
    line-height: 1.6;
    letter-spacing: 0.05em;
}

/* === 共通化 === */
/* 文字 */
.subtitle {
    font-size: 0.8rem;
    color: #aaaaaa;
    text-align: center;
    font-weight: none;
    font-style: italic;
    margin-bottom: 20px;
}

/* ブロック */
.container {
    padding: 0 20px; /* メディアとかなら一旦20pxあたりで設定 */
    max-width: 1000px;
    margin: 0 auto; /* 中心 */
}

.inner-container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
}

.article-pickup h2 {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: normal;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.article-pickup h2::before,
.article-pickup h2::after {
    content: "";
    display: block;
    max-width: 50px;
    height: 10px;
    background: url(https://stat2.smartlog.jp/images/h3.png) no-repeat;
    background-size: auto 100%; /* 画像を縮小はせずに、サイスはかわる */
    background-size: 100% auto;
    background-position: center center;
    flex: 1;
}

.article-pickup h2::before {
    background-position: right center;
    margin-right: 0.5em;
}

.article-pickup h2::after {
    background-position: left center;
    margin-left: 0.5em;
}

.breadcrumb-list {
    display: flex;
    flex-direction: row;
}

.breadcrumb-item {
    margin-right: 0.5em; /* 基本右にマージンをとる */
}

.breadcrumb-item:last-child{
    margin-right: 0; /* 最後の要素のみ、右のマージンは不要 */
}

.tag-list {
    display: flex;
}

.tag-item {
    background-color: #eeeeee;
    margin: 5px;
    padding: 10px;
}

.breadcrumb-item:not(:first-child)::before {
    content: ">";
    margin-right: 0.5em;
}

.breadcrumb-item:nth-child(1)::before {
    content: "";
}

.pan-content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.author-name {
    display: flex;
    font-size: 0.85rem;
    color: #888888;
}

.author-name > a {
    color: #888888;
}

.author-name .favlink {
    margin-left: 0.3rem;
    display: flex;
}

.author-name .favlink a {
    display: flex;
}

.author-name .favlink svg{
    width: 12px;
}
.author-name .favlink a svg{
    width: 12px;
}

.author-name .favlink a em {
    font-style: normal;
    margin-left: 0.3rem;
    color: #888888;
}

.article-date {
    color: #888888;
    font-family: serif;
    font-style: italic;
    font-size: 0.85rem;
}

.sns-recommend-message {
    color: red;
    font-size: 0.75rem;
    padding: 10px 0;
}

.sns-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sns-item {
    flex-basis: calc(18% - 3px);
}

.sns-item:last-child {
    flex-basis: 28%;
}

.sns-item .sns-icon {
    color: #ffffff;
}

.sns-item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.7rem 0;
}

.sns-item > a:hover {
    text-decoration: none;
}

.sns-item > a img {
    max-width: 20px;
    max-height: 20px; /* facebook　のみたかいから */
    height: auto;
}

.sns-item:last-child a svg {
    width: 12px;
    margin-right: 0.3rem;
}

.facebook-mark {
    background-color: #375691;
}

.twitter-mark {
    background-color: #2f9cd0;
}

.line-mark {
    background-color: #18a335;
}

.hatena-mark {
    background-color: #1299cd;
}

.favorite-mark {
    background-color: #eeeeee;
}

.pagenation-list {
    display: flex;
}

.sns-list {
    display: flex;
}

.next-line {
    font-size: 0.8rem;
}
.next-line::before {
    content: "\A";
    white-space: pre; /* ソース中のホワイトスペースをそのまま表示 */
}


.ad {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    margin: 10px 0;
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header-title {
    order: 2;
    height: 80%;
    flex-basis: 20%;
}

.smartlog-image {
    width: 100%;
    height: 100%;
}

.header-nav {
    order: 3;
    align-self: center;
}

.header-search {
    order: 1;
    display: flex;
    width: 20%;
    position: relative;
    flex-basis: 30%;
}

.header-search-box {
    background-color: #f0f0f0;
    height: 40%;
    width: 100%;
    align-self: center;
    border: none;
    text-align: left;
    font-size: 1.0rem;
}

.header-search-button {
    position: absolute;
    top: 40px;
    right: 0;
    border: none;
    width: 30px;
    height: 30px;

    background-color: #f0f0f0;
    background-image: url(https://stat2.smartlog.jp/images/icons/icon_search.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    
    /* ポインタにする */
    cursor: pointer;
    cursor: hand;
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 20px;
}

/* 一覧ページ遷移 */
.index-page {
    text-align: right;
    font-size: 0.8rem;
    margin: 0.5rem;
}

.index-page::before {
    content: "->";
}

/* Main */
.content-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20p; /* Footer との距離を少しあける */
}


.main-content {
    border-right: 1px solid #cccccc;
    padding: 0 20px 20px 0; /* 右と下に余白。左上につまるように */
}

/* Article */
.table-of-content {
    background-color: #eeeeee;
    padding: 1rem;
}

/* 目次は一段下げる */
.toc-list, .toc-inner-list {
    padding-left: 1em;
}

/* h3をh2に、かえる */
article h2 {
    margin: 1.6rem 0;
    padding: 1em 0; /* ここはタイトルの幅をあわせるため */
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: relative;
    font-size: 1.4rem;
}

article h2::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: -5px;
    left: 0;
}

article h3 {
    margin: 1.6rem 0;
    font-size: 1.2rem;
    border-top: 1px solid #cccccc;
    padding-top: 1em;
    position: relative;
}

article h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 16%;
    height: 1px;
    top: 0;
    left: 0;
    transform: translateY(-1px);
    background: #000000;
}

.table-of-content h3 {
    margin: 0;
    padding: 1em 0;
    border-top: none; 
}

.table-of-content h3::before {
    content: none;   
}

article h4 {
    font-size: 1.1rem;
    margin: 1.6rem 0;
    position: relative;
    transform: translateX(1.6rem);
}

article h4::before {
    content: "";
    margin-right: 1.6rem;
    position: absolute;
    top: 0.25em;
    left: -1.6rem;
    border: 0.5em solid #cccccc;
}

article h4::after {
    content: "";
    position: absolute;
    top: 0.25em;
    left: -1.6rem;
    border: 0.5em solid transparent;
    border-left: 0.5em solid #000000;
    border-top: 0.5em solid #000000;
}

main .article-item-content {
    padding: 20px 10px;
    order: 2;
}

main .article-pickup h2 {
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: normal;
}


/* aside */
.sub-content {
    /* total 300pxで固定 */
    margin-left: 20px;
    min-width: 280px;
}

/* .article-pickup .aside-header {
    margin: 20px 0;;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: normal;
    background: url(https://stat2.smartlog.jp/images/h3.png) right 200px top 8px no-repeat,url(https://stat2.smartlog.jp/images/h3.png) left 200px top 8px no-repeat;
    background-size: 51px 4px;
} */

/* .aside-header {
    font-size: 1rem;

    background: url(https://stat2.smartlog.jp/images/h3.png) right center top center no-repeat,url(https://stat2.smartlog.jp/images/h3.png) left 15px top 8px no-repeat;
    background-size: 51px 4px;

} */

.article-item {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid #cccccc;
}

.article-item:last-child {
    border-bottom: 1px solid #cccccc;
}


aside .article-item-content {
    padding: 5px 5px;
    order: 2;
}

.article-item-content {
    vertical-align: middle;
}

.article-item-title {
    font-size: 0.7rem; /* 本番は13pxで 0.8remでOKのはずだが、すこしあふれる */
    font-family: sans-serif;
}

.article-item-author {
    font-size: 0.6rem;
}

.article-item-image {
    order: 1;
}

/* Brand */
.brand-container {
    background-image: url("https://stat2.smartlog.jp/images/footer-enjoy-2018-35.jpg");
    background-repeat: no-repeat;
    /* display: flex;
    align-items: center; */
    /* 中心*/
    background-size: cover; /* 縦横比は保持して、背景領域を完全に覆う最小サイズになるように背景画像を拡大縮小する */
    background-position: center center; /* 背景画像の表示開始位置を指定する。縮小したときに 縦50% 横50%の位置の画像がのこっていく */
    min-height: 100px;
    color: #ffffff;
    /* hegith は還俗いれない。 */
    /* height: 500px; */
    min-height: 460px;
    margin: 20px 0;
}

.brand-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.brand-content::before {
    /* TODO */
    background-color: ;
    
}

.brand-content > img {
    margin: 20px auto;
    height: 110px;
    width: 518px;
}

.brand-concept {
    font-size: 2rem;
}

.brand-title {
    font-size: 4rem;
    z-index: 2; 
}

.brand-description {
    line-height: 2.5rem;
    letter-spacing: 1px; /* 文字間 */
    margin: 20px auto;
    width: 518px;
    z-index: 2;
}



/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 0.9rem;
}

.footer-content {
    display: flex;
}

.footer-icon-content {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 5%;
}

.footer-icon-sns-list {
    display: flex;
    width: 100%;
}

.footer-icon-sns-item {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.sns-icon::before {
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
}

.footer-category-list {
    display: flex;
    flex-wrap:wrap;
}

.footer-category-list > li {
    font-size: 0.7rem;
}

.footer-category-content {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 5%;
}

.footer-category-header {
    padding-bottom: 20px;
    font-size: 0.7rem;
    font-weight: normal;
    color: #888888;
}

.footer-category-item {
    width: 50%;
    padding: 5px 0;
}

.footer-company-content {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 5%;
}

.footer-company-header {
    padding-bottom: 20px;
    font-size: 0.7rem;
    color: #888888;
}

.footer-company-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-company-list > li {
    font-size: 0.7rem;
}

.footer-company-item {
    width: 50%;
    padding: 5px 0;
}

.footer-copyrignt {
    align-self: flex-end;
    color: #777777;
    font-size: 0.7rem;
}

.footer-user-env {
    border: 1px solid #000000;
    position: fixed; /* 右下に固定 */
    bottom: 5%;
    right: 5%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* 垂直方向の中央 */
}

.footer-user-env-content {
    align-self: center; /* 水平方向の中央 */
}

/* Media Query*/
@media (max-width: 559px){
    .pan-content{
        display: block;
    }
}