*{
    padding: 0; margin: 0; box-sizing: border-box; outline: none;}
    li{list-style: none;}
    img,iframe{border: 0;}
    header,article,section,footer,main,nav,aside{display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    /* font-size: 62.5%; */
}


blockquote {
    position: relative;
    background-color: #eeeeee;
    padding: 100px 20px 50px 20px;
}

blockquote::before {
    position: absolute;
    content: "“";
    font-size: 100px;
    top: 0;
    left: 0;
    color: #cccccc;
}