*{
    padding: 0; margin: 0; box-sizing: border-box; outline: none;}
    li{list-style: none;}
    img,iframe{border: 0;}
    header,article,section,footer,main,nav,aside{display: block;
}

/* デフォルトに設定する慣習などある?? */
a {
    text-decoration: none;
    color: #000000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    height: 100px;
    padding: 10px 10% 10px 10%;
}


.header-title {
    order: 2;
}

.header-nav {
    order: 3;
}

.header-search {
    order: 1;
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    border-bottom: 1px solid #dddddd;
    padding: 10px 10% 10px 10%;
    background-color: #cccccc;
    justify-content: space-around;
    /* height: auto; */ /* best 現状 */
    height: 400px; /* NG */
}

.top-content {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-basis: calc(100%/3*2);
    position: relative;
}

.top-content-article {
    width: 100%;
    background-image: url("https://smartlog-stat2.imgix.net/uploads/content/piece/2018/3/bc355a78fe3a2dd864287c90ac09882f/main_%E4%BD%99%E8%A8%88%E3%81%AA%E3%81%8A%E7%AF%80%E4%BB%8B%E3%82%92%E3%81%84%E3%81%86%E5%BD%BC%E6%B0%8F.jpg?w=700&auto=compress&q=35");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.top-content-title{
    color: #ffffff;
    position: absolute;
    bottom: 10%;
}

.top-recommend {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    flex-basis: calc(100%/3*1);
    text-align: center;
    height: 100%;
    padding: 0 10px;
    width: 100%;
    height: 100%;
}

.top-recommend-title {
    height: 20%; /* 上部20%で レコメンドのヘッダーを収めたい */
}

.top-recommend-list{
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    height: 80%; /* 下部80%で レコメンドの記事のリストを収めたい */
}

.top-recommend-item{
    display: flex;
    width: 100%;
    height: 30%; /* 3記事固定として、 縦は30% */
}

.top-recommend-article-item {
    display: flex;
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.top-recommend-article-info {
    order: 2;
    flex-basis: calc(100%/5*4);
}

/* ここは一旦共通化 */
.top-recommend-article-thumbnail {
    display: flex;
    order: 1;
    position: relative;
    flex-basis: calc(100%/5*1);
}

.article-thumbnail-image {
    /* 画像は親要素に対して100%にする */
    width: 100%;
    height: 100%;
}

.article-new-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    width: 50%;
    height: 50%;
}

.top-recommend-osusume {
    display: flex;
    justify-content: flex-end;
}

/* メインコンテンツ */
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding: 10px 10% 10px 10%;
}

.category-container {
    border: 1px solid #000000;
    width: 100%;
    flex-basis: calc(100%/6*1);
}

.feature-container {
    border: 1px solid #000000;
    width: 100%;
    flex-basis: calc(100%/6*3);
}

.feature-container-title {
    text-align: center;
}

.new-article-container {
    border: 1px solid #000000;
    width: 100%;
    flex-basis: calc(100%/6*2);
}

.new-article-container-title{
    text-align: center;
}


/* Brand */
.brand-container {
    background-image: url("https://stat2.smartlog.jp/images/footer-enjoy-2018-35.jpg");
    min-height: 500px;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10% 10px 10%;
}

.footer-content {
    display: flex;
}

.footer-icon-content {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding: 5%;
}

.footer-icon-sns-list {
    display: flex;
    width: 100%;
}

.footer-icon-sns-item {
    width: 33%;
}

.footer-category-list {
    display: flex;
    flex-wrap:wrap;
}

.footer-category-item {
    width: 50%;
}

.footer-category-content {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding: 5%;
}

.footer-company-content {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.footer-company-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-company-item {
    width: 50%;
}

.footer-copyrignt {
    /* TODO : コピーライトは右下に。 */
}

.footer-user-env {
    border: 1px solid #000000;
    position: fixed; /* 右下に固定 */
    bottom: 10%;
    right: 10%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
}

