@import url("common.css");
@import url("header.css");
@import url("footer.css");



.article-title {
    order: 2;
    padding: 0.5em 0 1em 0;
    font-size: 2.5rem;
}

@media (max-width: 559px){
    .article-title {
        /* スマホのみ文字サイズかえる */
        font-size: 1.5rem;
    }
}

.article-category {
    order: 1;
}

.article-author {
    order: 3;
    border-top: solid 0.5em rgb(184, 154, 106);
    max-width: 3em;
    /* padding-top: 0.5em; */
    padding: 0.5em 0;
    white-space: nowrap; /* 改行させない */
}

.article-time {
    order: 4;
}

.article-description {
    order: 5;
    padding: 2em 0;
}

.article-header-sns {
    order: 6;
}


/* 
============================== 
ARTICLE 
==============================
*/


.article-container {

}

@media (max-width: 559px){
    .article-container {
        padding: 0 1em;
    }
}

article > header {
 border-bottom: solid 1px rgb(156, 158, 160);
}

.article-header-inner {
    padding: 2em;
}

@media (max-width: 559px){
    .article-header-inner {
        /* padding: 1em; */
        padding: 0;
    }
}

.article-header-content {
    display: flex;
    flex-direction: column;

    max-width: 500px; /* 検討 : サイズ */
    margin: 0 auto;
}

/* .article-header-title {
    font-size: 3rem;
} */

.article-header-sns-list {
    display: flex;
}

.article-header-sns-item {
    width: 3em;
    height: auto;
}

.article-header-sns-item > a {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(45, 46, 47);
    border-radius: 50%;
}

.article-header-sns-item > a:hover {
    border-color: rgb(238, 0, 0);
}

.article-header-sns-item  > a > svg {
    color: #000000;
    width: 30px;
}

.article-header-sns-item > a > svg:hover {
    color: rgb(238, 0, 0);
}


.article-header-sns-item:not(:last-child) {
    margin-right: 1em;
}

.section-container {
    display: flex;
    
    flex-direction: column;
    justify-content: center;

    /* 検討: サイズ */
    /* header とあわせる */
    max-width: 500px;
    margin: 0 auto;
    padding-top: 3em;
    
}

.article-section {
   display: flex;
   flex-direction: column;
   padding: 1em 0;
}

.article-section-title {
    order: 1;
    font-size: 1em;
    padding: 1em 0;
}

@media (max-width: 559px){
    
}

.article-section-paragraph {
    order: 3;
    padding: 1em 0;
}

.article-section-figure {
    order: 2;
    /* min-width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}


@media (max-width: 559px){
    .article-section-figure {
        flex-direction: column;
    }
} 

/* タブレット以下 */
@media (max-width: 960px){
    .article-section-figure {
        flex-direction: column;
        align-items: flex-start
    }
}



.article-section-figure > img {
    /* position: relative; */
    display: flex;
    width: 100%;
}

.article-section-figure > p {
    /* border-top: solid 0.2em rgb(184, 154, 106);  */
    max-width: 2em;
    min-width: 12em;
    align-items: center;
    margin: 0 1em;
}

@media (max-width: 960px){
    .article-section-figure > p {
        margin: 1em 0;
        max-width: none;
        border-top: none;

    }
}

.article-section-figure > p::before {
    display: block;
    content: "";
    border-top: solid 0.2em rgb(184, 154, 106);
    width: 2em;
    margin: 0 0 0.5em 0;
}


.figure-first {
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 559px){
    .figure-first {
        flex-direction: column;
        justify-content: center;
    }
}

.article-footer {
    padding: 1em 0 3em 0;
}

.article-tag-list {
    display: flex;
    flex-wrap: wrap;

}

.article-tag-item {
    color: #ffffff;
    background-color: rgb(238, 0, 0);
    padding: 0 1em;
    margin: 1em 1em 0 0;
    white-space: nowrap;

}