*{
    padding: 0; margin: 0; box-sizing: border-box; outline: none;}
    li{list-style: none;}
    img,iframe{border: 0;}
    header,article,section,footer,main,nav,aside{display: block;
}


html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    font-family: "游ゴシック",YuGothic,Verdana,Roboto,"Droid Sans","メイリオ",Meiryo,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック",sans-serif;
}

a {
    text-decoration: none;
    /* color: #000000; */
    color: rgb(45, 46, 47);
}


/* COMMMON */
.container {
    /* sideの余白 */
    padding: 0 50px;
}


/* HEADER */
.header-container {

}

.header-top {
    display: flex;
    
}

.header-top-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.header-title {
    /* TODO: ロゴのサイズ調整 */
    min-width: 100px;
}

/* .header-content {
    border: 1px solid rgb(242, 242, 242);
} */

.header-edition-nav {
    display: none;
}

.header-nav {
    border-top: 1px solid rgb(242, 242, 242);
}

.header-nav-container {
    display: flex;
}

.header-nav-category {
    display: flex;
}

/* MAIN */

.main-space {
    background-color: rgb(242, 242, 242);
    height: 40px;
    width: 100%;
}

.new-article-list {
    display: flex;
}

.popular-article-list {
    display: flex;
}

.feature-article-list {
    display: flex;
}

.feature-article-item {
    flex-basis: 50%;
}

.feature-article-child-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-article-child-item {
    /* flex-basis: 25%; */
    flex-basis: 50%;
}

/* FOOTER */

.footer-edition-nav {
    display: flex;
}

.footer-sns-list {
    display: flex;
}

.footer-company-list {
    display: flex;
}