/* 
拡大 : shift + command + - 

*/
@import url("common.css");
@import url("header.css");
@import url("footer.css");


/* 
============================== 
MAIN
==============================
*/

.main-space {
    background-color: rgb(242, 242, 242);
    height: 40px;
    width: 100%;
}

.main-section {
    margin-bottom: 5rem;
    border-top: 1px solid #000000;
}

.main-section-head {
    display: flex;
}

.main-section-head > h2 {
    font-weight: normal;
    border-top: 0.5rem solid #000000;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    margin-right: auto;
}


/* 記事表示共通 */
.article-list {

}

.article-item {

}

@media (max-width: 559px){
    .article-item {
        border-bottom: rgb(156, 158, 160);
        padding: 1.5em 0;
    }
}

.article-item:not(:first-of-type) {
    padding-left: 1em;
}

@media (max-width: 559px){
    .article-item:not(:first-of-type) {
        padding-left: 0;
    }
}


@media (max-width: 559px){
    .article-item {
        border-bottom: solid 1px rgb(202, 204, 206);
    }
}

.article-item > a {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 559px){
    .article-item > a {
        flex-direction: row;
    }
}

@media (max-width: 559px){
    .pickup-section .article-item > a {
        flex-direction: column;
    }
}

@media (max-width: 559px){
    .left-side-article .article-item > a {
        flex-direction: column;
    }
}

.article-item h3{
    font-family: serif;
}

.article-item-content {
    order: 2;
    display: flex;
    flex-direction: column;
    padding: 1em 0 0 1em;

    background-color: #ffffff;
    margin-left: 1em;
    transform: translateY(-3rem);
    z-index: 1;
}

@media (max-width: 559px){
    .article-item-content {
        padding: 0;
        transform: translateY(0%);
    }
}

.left-side-article .article-item-content, .center-article .article-item-content {
    background-color: transparent;
    margin-left: 0;
    transform: none;
}

.article-item-image {
    order: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/*
めも : 
・
・object-fit(IEは非適用)
・ .article-item > a:hover > .article-item-image でhoverで赤
*/

.article-item > a > .article-item-image > figure {
    height: 100%;
}


.article-item-image img {
    width: 100%;
    max-height: 100%;
    opacity: 1;
    margin: 0;
    object-fit: cover;
}

.article-item > a:hover > .article-item-image img{
    opacity: 0.3;
    
    /* hover時に画像自体をgrayにする */
    filter: grayscale(100%);
}

.article-item > a:hover > .article-item-image > figure {
    background-color: rgb(238, 0, 0);
    max-height: 100%;
    height: 100%;
    padding: 0;
}

.article-item > a:hover > .article-item-content {
    color: gray;
}

.article-title {
    order: 2;
    padding: 0.5em 0 1em 0;
}

.article-category {
    order: 1;
}

.article-author {
    order: 3;
    border-top: solid 0.5em rgb(184, 154, 106);
    max-width: 3em;
    padding-top: 0.5em;
    white-space: nowrap; /* 改行させない */
}

@media (max-width: 559px){
    .article-author {
        border-top: none;
    }
}

.article-time {
    order: 4;
}

.left-side-article {
}

.left-side-article > a {
    position: sticky;
    top: 0;
    height: 100vh;
}

@media (max-width: 559px){
    .left-side-article > a {
        position: static;
        height: auto;
        flex-direction: column;
    }
}

.left-side-article > a > .article-item-content {
    color: white;
    transform: translateY(-100%);
    padding: 2em;
}

@media (max-width: 559px){
    .left-side-article > a > .article-item-content {
        transform: translateY(0);
    }
}

.left-side-article > a:hover > .article-item-content {
    color: #ffffff;
}

.left-side-article > a > .article-item-content > .article-title {
    font-size: 3em;
}

@media (max-width: 559px){
    .left-side-article > a > .article-item-content > .article-title {
        font-size: 1em;
    }
}

.left-side-article > a > .article-item-content > .article-author {
    border-top: solid 0.5em #ffffff;
}

.left-side-article > a > .article-item-image{
}

.center-article {
    
}

.center-article > a > .article-item-content{
    max-width: 60vw;
    margin: 0 auto;
    border-left: solid 1px #000000;
    padding: 2em;
}

.center-article > a > .article-item-content > .article-title {
    font-size: 2em;
}

/* NEW ARTICLE */
.new-article-list {
    display: flex;
}

@media (max-width: 559px){
    .new-article-list {
        flex-direction: column;
    }
}

.popular-article-list {
    display: flex;
}

@media (max-width: 559px){
    .popular-article-list {
        flex-direction: column;
    }
}

.feature-article-list {
    display: flex;
}

@media (max-width: 559px){
    .feature-article-list {
        flex-direction: column;
    }
}

.feature-article-item {
    flex-basis: 50%;
}

.feature-article-child-list {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 559px){
    .feature-article-child-list {
        flex-direction: column;
    }
}

/* feature記事の余白削除 */
.feature-article-child-list .article-item:first-child{
    padding-left: 1em;
}

/* @media (max-width: 559px){
    .feature-article-child-list .article-item:first-child{
        padding-left: 1em;
    }
} */

.pickup-section>.article-item {
    padding-left: 0;
}

@media (max-width: 559px){
    .pickup-section>.article-item {
        padding-left: 1em;
    }
}

.feature-article-child-item {
    flex-basis: 50%;
}