*{
    padding: 0; margin: 0; box-sizing: border-box; outline: none;}
    li{list-style: none;}
    img,iframe{border: 0;}
    header,article,section,footer,main,nav,aside{display: block;
}


html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    font-family: YakuHanJP, "Yu Gothic", YuGothic, "Hiragino Sans", "Noto Sans CJK JP", sans-serif;
    /* TODO: 適応したくない箇所の調整必要  */
    letter-spacing: 0.05em; /* OR rem */ 
}

a {
    text-decoration: none;
    /* color: #000000; */
    color: rgb(45, 46, 47);
}

button {
    border-style: none;
    font-size: 1em;
    font-weight: bold;
    background-color: #ffffff;
}

/* COMMMON */
.container {
    /* sideの余白 */
    padding: 0 60px;

    /* margin: 0 50px; */
}

/* 
============================== 
HEADER
==============================
*/

.header-container {

}

.header-top {
    display: flex;
}

.header-top-container{
    border-top: 20px solid #000000;
    padding-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.header-title {
    /* ロゴのサイズ */
    min-width: 300px;
}

.header-edition {
    display: flex;
}

.header-edition > p {
    color: rgb(156, 158, 160);
    margin-right: 1em;
}

.header-edition > button {
    color: #ee0000;

}

.header-edition-nav {
    display: none;
}

.header-nav {
    border-top: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid rgb(202, 204, 206);
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
}

.header-nav-container > *:not(:last-child){
    border-right: 1px solid rgb(242, 242, 242);
}

.header-content {
    font-size: 0.75rem;
    padding: 1.5em 0;
    font-weight: bold;
}

.header-nav-left-list {
    display: flex;
    align-items: center;
}

.header-nav-category-list {
    display: flex;
    flex-wrap: wrap;

}

.header-nav-category-item {
    margin-right: 2em;
}

.header-nav-right-list {
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(242, 242, 242);
}

.header-nav-right-list > *:not(:last-child) {
    border-right: 1px solid rgb(242, 242, 242);
}

.header-nav-members {
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-modal-open {
    padding: 1em 1em;
    height: auto;
}

/* 
============================== 
MAIN
==============================
*/

.main-space {
    background-color: rgb(242, 242, 242);
    height: 40px;
    width: 100%;
}

.main-section {
    margin-bottom: 5rem;
    border-top: 1px solid #000000;
}

.main-section-head {
    display: flex;
}

.main-section-head > h2 {
    font-weight: normal;
    /* margin-bottom: ; */
    border-top: 0.5rem solid #000000;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    /* max-width: ; */
    margin-right: auto;
}


/* 記事表示共通 */
.article-item > a {
    display: flex;
    flex-direction: column;
}

.article-item h3{
    font-weight: normal;

}

.article-item-content {
    order: 2;
    display: flex;
    flex-direction: column;
}

.article-item-image {
    order: 1;
}

.artilce-title {
    order: 2;
}

.artilce-category {
    order: 1;
}

.artilce-author {
    order: 3;
}

.article-time {
    order: 4;
}

/* NEW ARTICLE */
.new-article-list {
    display: flex;
}


.popular-article-list {
    display: flex;
}

.feature-article-list {
    display: flex;
}

.feature-article-item {
    flex-basis: 50%;
}

.feature-article-child-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-article-child-item {
    /* flex-basis: 25%; */
    flex-basis: 50%;
}

/* 
============================== 
FOOTER
==============================
*/
footer {
    color: #ffffff;
    background-color: rgb(45, 46, 47);

}

.footer-edition {
    display: flex;
    justify-content: flex-end;
}

.footer-edition > * {
    padding: 1em;
}

.footer-edition > p {
    color: rgb(156, 158, 160);
    margin-right: 1em;
}


.footer-edition > button {
    background-color: #ee0000;
    color: #ffffff;
    /* margin-right: 50px; containerの幅と同じに設定 */

}

.footer-edition-nav {
    display: flex;
    background-color: rgb(238, 0, 0);
}

.footer-edition-company {
    /* padding: 1em 3em; */
}

.footer-edition-country {
    padding: 1em 3em;
}

.footer-edition-list {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    max-width: 20px;
    max-height: 500px;
}

.footer-edition-list > li {
    margin-right: 5em;
    padding: 0.5em 0;
}

.footer-brand {
    display: flex;
    min-height: 160px;
    height: auto;
    background-color: rgb(36, 37, 38);
    justify-content: flex-end;
    align-items: center;
}

.footer-sns-list {
    display: flex;
    /* margin: ; */
}

.footer-sns-item {
    padding: 1.2em;
    
}

.footer-sns-item  > a > svg {
    color: #ffffff;
    width: 30px;
}

.footer-company {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-company-title {
    padding: 1.5em;
}

.footer-company-list {
    display: flex;
    justify-content: center;
}

.footer-company-list > li {
    padding: 1.5em 1em;
    /* color: rgb(156, 158, 160); */
    color: rgb(202, 204, 206);
}

.footer-copyrignt {
    color: rgb(202, 204, 206);
    text-align: center;
}